<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-lazy-init="true">
    
    <!-- form base project -->
    <bean name="threadpool" class="org.jboss.util.threadpool.BasicThreadPool" destroy-method="stop">
        <property name="maximumPoolSize" value="1"></property>
    </bean>

    <!--bean name="hibernate" class="com.bizcreator.core.hibernate.Hibernate" init-method="start" destroy-method="stop">
    </bean-->

   <bean id="rootService" class="com.bizcreator.core.session.impl.HibernateBase" scope="prototype">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="serviceBase" class="com.bizcreator.core.session.impl.BasicSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="batchQuery" class="com.bizcreator.core.session.impl.BatchQuerySession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="lazyLoading" class="com.bizcreator.core.session.impl.LazyLoadingSession">
        <property name="serviceBase" ref="rootService"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sequenceManager" class="com.bizcreator.core.session.impl.SequenceSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="moduleManager" class="com.bizcreator.core.session.impl.ModuleSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="lovManager" class="com.bizcreator.core.session.impl.LovSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="sysParamManager" class="com.bizcreator.core.session.impl.SysParamSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="statusManager" class="com.bizcreator.core.session.impl.StatusSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>

    <bean id="core.userMgr" class="com.bizcreator.core.session.impl.UserSession">
        <property name="serviceBase" ref="rootService"/>
    </bean>
</beans>