<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>bizweb</display-name>
	<session-config>
		<session-timeout>
            30
		</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- spring context -->
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-context.xml</param-value>
    </context-param>
    
    <listener>
        <listener-class>com.bizcreator.core.config.ConfigureListener</listener-class>
    </listener>
    
    <!-- 登录Filter -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.bizcreator.core.web.LoginFilter</filter-class>
        <init-param>
            <description>请求编码类型</description>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <description>登录页面</description>
            <param-name>loginPage</param-name>
            <param-value>/modules/User/Login.jsp</param-value>
        </init-param>
        </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- jsf config -->
	<!--
	<context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <description>
            Set this flag to true if you want the JavaServer Faces
            Reference Implementation to validate the XML in your
            faces-config.xml resources against the DTD. Default
            value is false.
        </description>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
	
	<context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/basicajax-taglib.xml</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    -->
    
    <!-- Bsf remoting invoker -->
    <servlet>
        <servlet-name>BsfInvokerServlet</servlet-name>
        <servlet-class>com.bizcreator.core.remoting.HttpSessionServer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>BsfInvokerServlet</servlet-name>
        <url-pattern>/BsfInvokerServlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- DirectJNgine servlet -->
  <servlet>
    <servlet-name>DjnServlet</servlet-name>
    <servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
    
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>   

    <init-param>
      <param-name>minify</param-name>
      <param-value>false</param-value>
    </init-param>

    <init-param>
      <param-name>providersUrl</param-name>
      <param-value>djn/directprovider</param-value>
    </init-param>

	<!--
    <init-param>
      <param-name>registryConfiguratorClass</param-name>
      <param-value>com.softwarementors.extjs.djn.test.servlet.config.RegistryConfiguratorForTesting</param-value> 
    </init-param>

    <init-param>
      <param-name>gsonBuilderConfiguratorClass</param-name>
      <param-value>com.softwarementors.extjs.djn.test.config.GsonBuilderConfiguratorForTesting</param-value>
    </init-param>
	-->
	
<!-- Not needed, unless the context is the default one ('/' or '')
    <init-param>
      <param-name>contextPath</param-name>
      <param-value>/</param-value>
    </init-param>
-->    

<!-- This is already the default 
    <init-param>
      <param-name>dispatcherClass</param-name>
      <param-value>com.softwarementors.extjs.djn.servlet.ssm.SsmDispatcher</param-value>
    </init-param>
-->    

<!-- This is already the default 
    <init-param>
      <param-name>jsonRequestProcessorThreadClass</param-name>
      <param-value>com.softwarementors.extjs.djn.servlet.ssm.SsmJsonRequestProcessorThread</param-value>
    </init-param>
-->    

    <init-param>
      <param-name>batchRequestsMultithreadingEnabled</param-name>
      <param-value>false</param-value>
    </init-param>

    <init-param>
      <param-name>apis</param-name>
      <param-value>
        demo,
        core
      </param-value>
    </init-param>
    
    <init-param>
      <param-name>demo.apiFile</param-name>
      <param-value>demo/Api.js</param-value>
    </init-param>

    <init-param>
      <param-name>demo.apiNamespace</param-name>
      <param-value>Ext.app</param-value>
    </init-param>

    <init-param>
      <param-name>demo.classes</param-name>
      <param-value>
      com.softwarementors.extjs.djn.demo.Poll,
      com.softwarementors.extjs.djn.demo.TestAction,
      com.softwarementors.extjs.djn.demo.Profile,
      com.softwarementors.extjs.djn.demo.FormPostDemo,
      com.softwarementors.extjs.djn.demo.DirectStoreDemo
      </param-value>
    </init-param>
	
	<init-param>
      <param-name>core.apiFile</param-name>
      <param-value>core/core-api.js</param-value>
    </init-param>

    <init-param>
      <param-name>core.apiNamespace</param-name>
      <param-value>Biz.core</param-value>
    </init-param>

    <init-param>
      <param-name>core.classes</param-name>
      <param-value>
      	com.bizcreator.core.action.JdbcAction
      </param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
    
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>DjnServlet</servlet-name>
    <url-pattern>/djn/directprovider/*</url-pattern>
  </servlet-mapping>
  
    
</web-app>
