<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       default-lazy-init="true">

    <bean id="ds-bizcreator" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/bizcreator?characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"/>
        <property name="user" value="lgh"/>
        <property name="password" value="abcd1234"/>
        <property name="initialPoolSize" value="1"/>
        <property name="maxPoolSize" value="10"/>
        <property name="maxStatements" value="30"/>
    </bean>

    <bean id="ibatisTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds-bizcreator" />
    </bean>

    <tx:annotation-driven transaction-manager="ibatisTxManager" />

    <bean id="sqlSessionFactory" class="org.springframework.orm.ibatis3.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:ibatis-config-core.xml"/>
        <property name="dataSource" ref="ds-bizcreator"/>
    </bean>

    <!--bean id="core.ibatisSessionFactory" class="com.bizcreator.core.ibatis.SpringSqlSessionFactoryBuilder">
        <property name="configLocation" value="ibatis-config-core.xml" />
        <property name="dataSource" ref="ds-bizcreator" />
    </bean-->

    

    <!--bean id="core.bizModelMgr" class="com.bizcreator.core.session.impl.BizModelSession" lazy-init="true">
        <property name="dataSource" ref="ds-bizcreator" />
        <property name="sessionFactory" ref="core.ibatisSessionFactory" />
    </bean-->
	
    <bean id="core.userMgr" class="com.bizcreator.core.session.ibatis.UserService" lazy-init="true">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
</beans>